.movie-card{
    background: rgb(121,2,153);
    background: linear-gradient(90deg, rgba(121,2,153,1) 0%, rgba(108,223,247,1) 54%, rgba(0,212,255,1) 100%);
    border-radius: 30px;
    padding: 10px;
}


.movie-card img{
    max-height: 300px;
    max-width: 200px;
    margin: 10px;
    
  }